%br
= will_paginate @documents
- for document in @documents
  .alert.alert-info
    %table
      %tr
        %td.thumbnail
          = image_tag("/uploads/#{document.user.email}/#{document.id}.jpg",:width => "80")
        %td{:style => "padding-left:20px;width:600px;"}
          .handwritten{:style => "font-size:18px;"}
            %strong= document.title
          %h4
            - if !document.remind_at.nil?
              Reminder on
              = document.remind_at.in_time_zone("#{@timezone}").strftime("%B #{document.remind_at.in_time_zone(@timezone).day.ordinalize} at %l:%M %p")
        %td
          = link_to 'Edit', edit_document_path(document),:class => "btn btn-inverse"
        %td
          = link_to 'Destroy', document, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger"




