-title "Edit Account"
%section.well
  %header.edit_profile_header
    .handwritten{:style => "font-size:25px;"}
      = 'Edit Account'

  = simple_form_for current_user, url: profile_path, method: :put, html: { class: 'form-vertical' } do |f|
    .fieldset
      %legend= 'Account Information'
      = f.input :email, placeholder: "name@domain.com", disabled: true, hint: "You cannot change your email address."
      = f.input :timezone, :collection => @timezones,:selected => "Pacific Time (US & Canada)"
      = f.input :password, placeholder: "Please pick something strong"
      = f.input :password_confirmation, placeholder: "Please type it again."
    .fieldset
      %legend= 'SMS Settings'
      = f.input :cell_number,placeholder: "For SMS Notifications"
    .fieldset
      %legend= 'DropBox Connection'
      - if current_user.dropbox_oauth.nil?
        = link_to "Connect To Dropbox", @authorize_url,{:style=>'color:#FFFFFF;',:class => 'btn btn-info'} unless params[:oauth_token]
        %br
        %br
        Will create a folder for automatic conversions
      - else
        .alert.alert-info
          You are connected to Dropbox. Any PDFs or images in the Extractext folder will be converted.
      %br



    .fieldset
      %legend= 'Evernote Settings'
      = f.input :evernote_email,:label => "Your Evernote Email Address",placeholder: "evrnote.09226@m.evernote.com"
      = f.input :evernote_notebook,:label => "Which notebook to deliver to?",placeholder: "Inbox",hint: "Must already exist in your Evernote Account."
      = f.input :evernote_tags,:label => "Tags to Add (Comma Seperated)",placeholder: "todos, school, homework",hint: "Must already exists in your Evernote Account."
    .fieldset
      %legend= 'Kindle Settings'
      = f.input :kindle_email,:label => "Your Kindle's E-mail Address",placeholder: "mike_9962@Kindle.com",hint: "Must approve 'transcribe@extractext.com' in your Amazon Account"
      = f.input :convert_kindle, :label => "Convert to Kindle Format?",hint: ": Uncheck this if document display is undesirable on your device."
      .form-actions
        = f.submit 'Save', class: 'btn btn-primary'
