-title "#{current_user.email}'s Account"

.row-fluid
  .span9
    =content_tag_for(:section, current_user, class: 'well') do
      %header.user_home_header
        .handwritten{:style => "font-size:25px;"}
          = "#{current_user.email}" 
      - if current_user.subscription_content.instance_of? Array
        = render :partial => "user_documents", :locals => { :documents => @documents, :timezone => @timezone }
      - elsif current_user.subscription_content.instance_of? Fixnum
        %br
        %center
          = link_to 'No documents to display. Remember to set your timezone and reminder settings in your Account Info.',edit_profile_path,:class => "btn btn-info"
      - else
        = current_user.subscription_content
  .span3
    .well
      %ul.nav.nav-list
        %li.nav-header= "Account Settings"
        %li= link_to 'Edit Settings', edit_profile_path
        %li= link_to 'New Credit Card', new_credit_card_path
        %li= link_to 'Change Subscription', available_subscription_plans_path
        %li= link_to 'Cancel Subscription', subscription_path, method: 'delete', :confirm => 'Are you sure?'
        %li= link_to 'Sign Out', sign_out_path
    .well
      %h3 Send Attachments to:
      %br
      %h4
        = link_to "transcribe@extractext.com", "mailto:transcribe@extractext.com"
    .well
      %ul.nav.nav-list
        %strong
          %li.nav-header= "Instructions"
          %li 1. E-mail Subject will become the title of your document
          %br
          %li 2. The first line of your email body is reserved for a reminder time. See the syntax page for available time formats.
          %br
          %li 3. Anything after the first line of the body will become a note which will be used in your reminder text.
          %br
          %li 4. You will immediately receive an email with 2 file attachements; a text file including the extracted text from the image or pdf, and a searchable pdf file. This PDF file will look like your original document, but the content is searchable.
          %br
          %li 5. Extractext integrates with Evernote, can deliver notifications via text message, and optionally will deliver your document directly to your Kindle device at the reminder time. See your "Account Settings" to configure these options.

