= content_tag_for(:article, subscription_plan, class: 'well') do
  .row-fluid
    .span6
      .handwritten{:style => "font-size:20px;"}
        = subscription_plan.name
      %p= subscription_plan.price
      - if subscription_plan.name == "Free"
        .alert.alert-info
          (3 Free Conversions Per Week)
      = subscription_plan.unit_information
      = subscription_plan.trial_information
      = current_user.subscription_plan_button(subscription_plan)
    .span6
      = subscription_plan.description


