-title "Available Subscription Plans"

%section#subscription_plans
  %header.hero-unit
    .handwritten{:style => "font-size:25px;"}
      Select the plan that works for you!
    %p= "Switch plans, or cancel at anytime."
  - if current_user.signed_in? && current_user.last4.blank?
    .well
      %center
        .handwritten{:style => "font-size:20px;"}
          You must first provide valid credit card information, and then return here.
        %br
        = link_to "Add Payment Info", new_credit_card_path, :class => "btn btn-info",:style => "font-size:18px;"
  - else
    = render @subscription_plans
