-title 'Password Reset'

%section.well
  %header.password_reset_header
    %h1 Password Reset

= simple_form_for @user, url: password_reset_path(@user), html: {:method => :put} do |f|
  = hidden_field_tag :token, @token
  %h2= "Updating password for #{@user.email}"
  = f.input :password
  = f.input :password_confirmation
  .form-actions.password_reset_actions
    = submit_tag 'Reset', disabled_with: 'Resetting', class: 'btn btn-danger'
