-title 'Request Password Reset'

%section.well
  %header.password_reset_header
    .handwritten{:style=>"font-size:25px;"}
      Request Password Reset

= form_tag password_resets_path, :method => :post do
  .field.email
    = label_tag :email
    = email_field_tag :email
  .form-actions
    = submit_tag 'Request', disabled_with: 'Requesting', class: 'btn btn-danger'
  .signup-actions
    Back to
    = link_to 'Sign In', sign_in_path