<h2><%= @invoice.greeting %></h2>
<br>
<p><strong><%= @invoice.subscription_name %>:</strong> <%= @invoice.subscription_amount %>
<br>
<br>
<strong>Next payment due on: <%= @invoice.next_invoice %></strong>
<br>
<br>
<br>
Thank you for subscribing to Extractext!


