To reset your password on Extractext click the URL below or copy and paste into your browser.

<%= edit_password_reset_url(@password_token) %>

If you did not request your password to be reset please ignore this email and your password will stay the same.
