-title 'New Credit Card'
-content_for :head_start do
  %meta{ name: 'stripe-key', content: STRIPE_PUBLIC_KEY }
  = javascript_include_tag "https://js.stripe.com/v1/"

%section.well
  %header.sign_up_header
    .handwritten{:style => "font-size:25px;"}
      New Credit Card
    - if !current_user.last4.blank?
      %h3= "The card you currently have on file ends in #{current_user.last4}"

  = simple_form_for current_user, url: credit_card_path, method: :post, html: { class: 'form-vertical cc_form' } do |f|
    %fieldset
      %legend= 'Payment Details'
      = image_tag "/seal.gif",:width => "60px"
      -if current_user.card_token
        .alert.alert-success= 'Credit card has been provided.'
      -else
        .field
          = f.input :card_token, as: :hidden
          = label_tag :card_number, "Credit Card Number"
          = text_field_tag :card_number, nil, name: nil, maxlength: 16, placeholder: 'Just numbers please'
        .field
          = label_tag :card_code, "Security Code on Card (CVV)"
          = text_field_tag :card_code, nil, name: nil, placeholder: "It's on the back of the card"
        .field
          = label_tag :card_month, "Card Expiration"
          = select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month", class: 'span2'}
          = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", class: 'span1'}
        #stripe_error
          %noscript= 'JavaScript is not enabled and is required for this form. First enable it in your web browser settings.'
    .form-actions
      = f.submit 'Save', class: 'btn btn-primary'
