= simple_form_for @user do |f|
  = f.input :email, disabled: true
  = f.input :password
  = f.input :password_confirmation
  = f.input :coupon_code
  = f.input :is_admin
  .form-actions
    = f.submit 'Save', disable_with: 'Saving', class: 'btn btn-primary'
