= content_tag_for(:article, user, class: 'alert alert-info') do
  %h2= user.email
  %h3= user.subscription_plan_name
  %p
    = link_to 'Show', user
    = link_to 'Edit', edit_user_path(user)
    = link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete
