-title 'Sign Up'
-content_for :head_start do
  %meta{ name: 'stripe-key', content: STRIPE_PUBLIC_KEY }
  = javascript_include_tag "https://js.stripe.com/v1/"

%section.well.span7
  %header.sign_up_header
    .handwritten{:style => "font-size:25px;"}
      Extractext Sign Up

  = simple_form_for @user, html: { class: 'form-vertical cc_form' } do |f|
    .fieldset
      %legend= 'Account Information'
      = f.input :email, placeholder: "name@domain.com"
      .honey= f.input :email_confirmation, placeholder: "Don't fill this in if you are human.", hint: 'Do not fill this in.'
      = f.input :password, placeholder: "Please pick something strong"
      = f.input :password_confirmation, placeholder: "Please type it again."
      = f.input :subscription_plan_id, collection: @subscription_plans, label_method: :name, value_method: :id
      = f.input :coupon_code, placeholder: "Have you found a coupon code?"
      = f.input :card_token, as: :hidden
    %fieldset#payment_details
      %legend= 'Payment Details'
      = image_tag "/seal.gif",:width => "60px",:class => "ssl_seal"
      -if @user.card_token
        .alert.alert-success= 'Credit card has been provided.'
      -else
        .field
          = label_tag :card_number, "Credit Card Number"
          = text_field_tag :card_number, nil, name: nil, maxlength: 16, placeholder: 'Just numbers please'
        .field
          = label_tag :card_code, "Security Code on Card (CVV)"
          = text_field_tag :card_code, nil, name: nil, placeholder: "It's on the back of the card"
        .field
          = label_tag :card_month, "Card Expiration"
          = select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month", class: 'span2'}
          = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", class: 'span1'}
        #stripe_error
          %noscript= 'JavaScript is not enabled and is required for this form. First enable it in your web browser settings.'
    .form-actions
      = f.submit 'Sign Up', class: 'btn btn-primary'
%section.well.span4
  - SubscriptionPlan.all.each do |sp|
    .handwritten{:style => "font-size:18px;"}
      = sp.name
    %h4.alert.alert-info
      = number_to_currency("#{sp.amount.to_f / 100}") if sp.name != "Free"
      - if sp.name == "Free"
        (3 Free Conversions Per Week)
