%header#top_header.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{ data: {toggle: "collapse", target: ".nav-collapse"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .handwritten_smaller
        = current_user.home_link('EXTRACTEXT')
      .nav-collapse
        %ul#pages_menu.nav
          = render @pages
          %li
            = link_to "Contact", contact_path
          %li
            %span{:class => "occIcon-22409-44658"}
              &nbsp;
            %script{ :type => "text/javascript"}
              (function() {
              var occ = document.createElement('script'); occ.type = 'text/javascript'; occ.async = true;
              occ.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.onlinechatcenters.com/code-22409-44658.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(occ, s);
              })();
        %ul#session_control.nav.pull-right
          %li= current_user.session_control
