<video id="tutorial" class="video-js vjs-default-skin" controls
  preload="auto" width="852" height="532" poster="https://www.extractext.com/scanner.png"
  data-setup="{}">
  <source src="https://www.extractext.com/newtutorialvideo.mp4" type='video/mp4'>
  <source src="https://www.extractext.com/newtutorialvideo.webm" type='video/webm'>
</video>
