-title "OCR Reminder Service"

%section#main_hero.hero-unit.handwritten
  %center
    %h2= "Find information faster, and stay on task!"
    %br
    .alert.alert-info
      %p= "Image text extraction and searchable document creation however you want, wherever you want, whenever you want."
    %p= link_to 'Sign Up', sign_up_path, style: 'width:77%;font-size:20px;',class: 'btn btn-primary btn-large'
    %img{:src => "/icons.png"}
%center
  %section#all_options.hero-unit.handwritten
    %h2= "Get started for free!"
    %br
    %p= link_to 'See Options', available_subscription_plans_path, class: 'btn btn-primary btn-large',style: 'font-size:20px;'
