-title @page.title

= content_tag_for(:section, @page, class: 'well') do
  %header.title
    .handwritten{:style => "font-size:23px;"}
      = @page.title
  %section.content= @page.content
= current_user.page_editor(@page)
