-title "#{current_user.email}'s Account"

.row-fluid
  .span6
    =content_tag_for(:section, current_user, class: 'well') do
      = simple_form_for(@document) do |f|
        = f.error_notification

        .form-inputs
          = f.input :title
          = f.input :notes,:input_html => {:rows => 10}
          = f.input :remind_at,:label => "Send At:",:as => :string,placeholder: "ie: next wednesday at 4:30pm",hint: "Enter in plain English",:input_html => { :value => "#{@remind_at}"}

        .form-actions
          = f.button :submit

  .span6
    .well
      .label.label-success
        Showing 1st page only
      = image_tag("/uploads/#{current_user.email}/#{@document.id}.jpg")