%h1 Listing documents

%table
  %tr
    %th Title
    %th User
    %th Content
    %th Notes
    %th Remind at
    %th
    %th
    %th

  - @documents.each do |document|
    %tr
      %td= document.title
      %td= document.user_id
      %td= document.content
      %td= document.notes
      %td= document.remind_at
      %td= link_to 'Show', document
      %td= link_to 'Edit', edit_document_path(document)
      %td= link_to 'Destroy', document, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Document', new_document_path
