%p#notice= notice

%p
  %b Title:
  = @document.title
%p
  %b User:
  = @document.user_id
%p
  %b Content:
  = @document.content
%p
  %b Notes:
  = @document.notes
%p
  %b Remind at:
  = @document.remind_at

= link_to 'Edit', edit_document_path(@document)
\|
= link_to 'Back', documents_path
