Thank you for using Extractext.com

We received your message titled "<%= @title %>", but there was not a file attachment.

File attachments may be a single or multipage PDF file, or nearly any single page image format.

The subject line of your email will become the title of the document.

The first line of the email body can include information on setting a reminder for the document. (ie. 4pm Tuesday).

A list of available reminder syntax can be found at http://www.extractext.com/syntax



Sincerely,

Extractext
