Thank you for using Extractext.com
<br/>
<br/>
We received your message titled "<%= @title %>", but there was not a file attachment.
<br/>
<br/>
File attachments may be a single or multipage PDF file, or nearly any single page image format.
<br/>
<br/>
The subject line of your email will become the title of the document.
<br/>
<br/>
The first line of the email body can include information on setting a reminder for the document. (ie. 4pm Tuesday).
<br/>
<br/>
A list of available reminder syntax can be found at http://www.extractext.com/syntax
<br/>
<br/>
<br/>
<br/>
Sincerely,
<br/>
<br/>
Extractext
