Thank you for using Extractext,

The file entitle "<%= @title %>" has been converted and added to your account.

You will find a searchable pdf, and a text file within your dropbox folder.

You may also add reminders or notes to this document from your Extractext account.


Sincerely,

Extractext.com
