Thank you for using Extractext,
<br/>
<br/>
The file entitle "<%= @title %>" has been converted and added to your account.
<br/>
<br/>
You will find a searchable pdf, and a text file within your dropbox folder.
<br/>
<br/>
You may also add reminders or notes to this document from your Extractext account.
<br/>
<br/>
<br/>
Sincerely,
<br/>
<br/>
Extractext.com
