Thank you for using Extractext.com,
<br/>
<br/>
<strong>"<%= @title %>" has been converted <%= @evernote_enabled %>, but no reminder was found.
</strong>
<br/>
<br/>
For a reference of available reminder syntax, please visit <a href="http://www.extractext.com/syntax">http://www.extractext.com/syntax</a>.
<br/>
<br/>
You will find 2 files attached:
<br/>
<br/>
The txt file includes the text content extracted from the image or pdf you provided.
<br/>
<br/>
The pdf file is a searchable document containing your original image.
<br/>
<br/>
Searching this pdf will highlight any text matched within the document.
<br/>
<br/>
<br/>

Thanks again for using Extractext!


