Thank you for using Extractext.com,

"<%= @title %>" has been converted<%= @evernote_enabled %>, but no reminder was found.

For a reference of available reminder syntax, please visit http://www.extractext.com/syntax.

You will find 2 files attached:

The txt file includes the text content extracted from the image or pdf you provided.

The pdf file is a searchable document containing your original image.

Searching this pdf will highlight any text matched within the document.


Thanks again for using Extractext!


