Thank you for using Extractext.com,
<br/>
<br/>
<strong>"<%= @title %>" has been converted, and a reminder has been set for <%= @reminder %>.<%= @evernote_enabled %> </strong>
<br/>
<br/>
You will find 2 files attached:
<br/>
<br/>
The txt file includes the text content extracted from the image or pdf you provided.
<br/>
<br/>
The pdf file is a searchable document containing your original image.
<br/>
<br/>
Searching this pdf will highlight any text matched within the document.
<br/>
<br/>
On <%= @reminder %> you will receive an alert with the notes from your original email,<%= @kindle_enabled %> and you will be emailed these attachments once again.
<br/>
<br/>
<br/>
Thanks again for using Extractext!
