Thank you for using Extractext.com,

"<%= @title %>" has been converted, and a reminder has been set for <%= @reminder %>.<%= @evernote_enabled %>

You will find 2 files attached:

The txt file includes the text content extracted from the image or pdf you provided.

The pdf file is a searchable document containing your original image.

Searching this pdf will highlight any text matched within the document.

On <%= @reminder %> you will receive an alert with the notes from your original email,<%= @kindle_enabled %> and you will be emailed these attachments once again.



Thanks again for using Extractext!
