<strong>This is your reminder for the document "<%= @title %>".</strong>
<br/>
<br/>
<%= @note_header %>
<br/>
<br/>
<%= @notes %>
<br/>
<br/>
You will find 2 files attached:
<br/>
<br/>
The txt file includes the text content extracted from the image or pdf you provided.
<br/>
<br/>
The pdf file is a searchable document containing your original image.
<br/>
<br/>
Searching this pdf will highlight any text matched within the document.
<br/>
<br/>
<br/>
Thank you for using Extractext.com!

