This is your reminder for the document "<%= @title %>".

<%= @note_header %>

<%= @notes %>

You will find 2 files attached:

The txt file includes the text content extracted from the image or pdf you provided.

The pdf file is a searchable document containing your original image.

Searching this pdf will highlight any text matched within the document.



Thank you for using Extractext.com!

