.handwritten{:style => "font-size:25px;"}
  Questions? Comments? Feature Requests?
.well
  = form_for @message, :url => contact_path do |form|
    %fieldset{:class => "fields"}
      .field
        = form.label :name
        = form.text_field :name
      .field
        = form.label :email
        = form.text_field :email
      .field
        = form.label :subject
        = form.text_field :subject
      .field
        = form.label :body
        = form.text_area :body, :rows => "15"
    %fieldset{:class => "actions"}
      = form.submit "Send"
