/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require main
 *= require_self
*/

.handwritten { font: 60px/68px 'RockSaltRegular', Arial, sans-serif;
               letter-spacing: 0;
               }
.handwritten_smaller { font: 18px/27px 'RockSaltRegular', Arial, sans-serif;
               letter-spacing: 0;
               }

@font-face {
    font-family: 'RockSaltRegular';
    src: url('/fonts/RockSalt-webfont.eot');
    src: url('/fonts/RockSalt-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/RockSalt-webfont.woff') format('woff'),
         url('/fonts/RockSalt-webfont.ttf') format('truetype'),
         url('/fonts/RockSalt-webfont.svg#RockSaltRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

