!!! 5
!= conditional_html do
  %head
    %link{:href => "https://www.extractext.com/video-js.css", :rel => "stylesheet"}
    %script{:src => "https://www.extractext.com/video.js"}
    %meta{ charset: "utf-8" }
    %meta{ 'http-equiv' => "X-UA-Compatible", content: "IE=edge,chrome=1" }
    %meta{ property: "og:title", content: "Extractext OCR Reminder Service"}
    %meta{ property: "og:url", content: "https://www.extractext.com"}
    %meta{ property: "og:image", content: "http://www.scanmymedicalrecords.ca/wp-content/uploads/2012/02/pdf-ocr.png"}
    %meta{ property: "og:description", content: "Email your images or pdfs containing text to Extractext, and receive a searchable PDF file, and the text extracted from the images. Include a reminder time in the message, and receive alerts in a number of ways! Extractext will deliver to SMS, Evernote, and even directly to your Kindle. Save time, and stay on task with Extractext."}
    %title= "Extractext: #{yield(:title)}"
    %meta{ name: "author", content: "Ryan Mulligan" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
      <link rel="shortcut icon" href="/e.ico" />
    = yield(:head_start)
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head_finish)
  %body
    = render 'shared/header'
    .container-fluid
      -flash.each do |name, msg|
        %div{class: "alert alert-#{name == :notice ? 'success' : 'error'}"}
          %a.close{data: {dismiss: "alert"}}= "x"
          = msg
      .row-fluid
        .main.span12
          = yield

